*{
    margin: 0;
}
body{
    height: 100dvh;
    width: 100%;
    display: grid;
    place-items: center;
    background: #0d6efd;
    overflow: hidden;
}
#toggle{
    display: none;
}
.hamburger{
    height: 6em;
    width: 8em;
    border: .4em solid #fff;
    border-radius: 1em;
    position: relative;
    cursor: pointer;
    transition: .3s all ease;
}
.hamburger::before,.hamburger::after{
    content: '';
    position: absolute;
    width: 70%;
    height: .6em;
    background: #fff;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transition: .5s all ease;
}
.hamburger::before{
    transform: translate(-50%, -200%);
}
.hamburger::after{
    transform: translate(-50%, 100%);
}
.hamburger:hover::before,.hamburger:hover::after,#toggle:checked ~ label .hamburger:hover::before,#toggle:checked ~ label .hamburger:hover::after{
    transform: translate(-50%, -50%);
    width: 50%;
}
#toggle:checked ~ label .hamburger{
    transform: rotate(90deg);
    height: 8em;
    width: 6em;
}
#toggle:checked ~ label .hamburger::before{
    transform: translate(-50%, -50%) rotate(45deg);
    width: 70%;
}
#toggle:checked ~ label .hamburger::after{
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 70%;
}